.text-section {
  padding: 0 6%;
}

.text-section p {
  margin: 0 0 26px;
}

.text-section p:last-child {
  margin: 0;
}

.text-section li {
  display: list-item;
  color: #2558c1;
  float: none;
  padding-bottom: 20px;
}

.text-section li>span {
  color: #888a8a;
}

.padding-top {
  padding-top: 20px;
}

.padding-bottom {
  padding-bottom: 20px;
}

.disclaimer {
  margin-left: 5px;
  font-size: 11.5px;
  line-height: 1.6em;
  letter-spacing: 1px;
  text-align: left;
}

.disclaimer-cn,
.disclaimer-ja {
  font-size: 13px;
}

.error-message {
  font-size: 14px;
  color: red;
  margin-bottom: 30px;
}

.presale-form {
  padding: 20px;
  padding-top: 35px;
}

.presale-form input[type=checkbox] {
  margin-left: -20px !important;
  float: left;
}

.presale-form input::-webkit-outer-spin-button,
.presale-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.presale-form input[type=number] {
  -moz-appearance: textfield;
}

.presale-form input[readonly] {
  -webkit-appearance: none;
}

.presale-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
  padding: 12px 40px;
  padding-left: 15px;
  font-size: 14px;
  line-height: 1.42857143;
  float: left;
}

.presale-form select::-ms-expand {
  display: none;
  color: black;
}

.presale-form input[readonly] {
  background-color:transparent;
}

.presale-field {
  border: 1px solid #ccc;
  height: 46px;
  margin-bottom: 30px;
}

.field-padding {
  margin-bottom: 30px !important;
}

.radio-field {
  border-right: 0px;
}

.radio-field:focus {
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}

:global #mc-embedded-presale-field .input-group-addon {
  border: 1px solid #ccc;
  border-left: 0px;
}

:global #mc-embedded-presale-field i.fa {
  float: right;
  color: white;
  margin-top: -30px;
  margin-right: 5px;
  pointer-events: none;
  background-color: transparent;
  padding-right: 10px;
}

.input-label {
  line-height: 18px;
  font-size: 14px;
  text-align: left;
  display: block;
  margin-top: 0;
}

.input-label a {
  position: inherit;
  font-size: inherit;
  color: #337ab7;
}

.currency-dropdown {
  background-color: rgba(66, 65, 65, .17) !important;
  border: 1px solid #ccc;
  border-left: 0px;
  color: white;
  padding: 0px;
  border-radius: 0px 7px 7px 0px;
  box-sizing: border-box;
}

:global #mc-embedded-presale-field i.fa {
  float: right;
  color: white;
  margin-top: -30px;
  margin-right: 5px;
  pointer-events: none;
  background-color: transparent;
  padding-right: 10px;
}

.text {
  text-align: left;
  margin: 20px;
  margin-top: 0px;
  font-size: 0.7em;
  line-height: 1.6em;
}

@media screen and (max-width: 1199px) {
  .text-section {
    padding: 0 2%;
  }
}

@media screen and (max-width: 991px) {
  .presale-form input,
  .presale-form textarea,
  .presale-form label {
    font-size: 12px;
  }
  .presale-form-cn input[type="text"],
  .presale-form-cn input[type="number"],
  .presale-form-cn input[readonly],
  .presale-form-cn label,
  .presale-form-cn textarea {
    font-size: 14px;
  }
  .presale-form-ja input[type="text"],
  .presale-form-ja input[type="number"],
  .presale-form-ja input[readonly],
  .presale-form-ja label,
  .presale-form-ja textarea {
    font-size: 14px;
  }
  .text-section {
    text-align: center;
    margin: 0 0 40px;
  }
  .text-section:last-child {
    margin: 0;
  }
  .input-label, .error-message {
    font-size: 12px;
  }
  .error-message-cn,
  .error-message-ja {
    font-size: 14px;
  }
  .text-section ul, .text-section p {
    text-align: left;
  }
  .disclaimer {
    line-height: 1.4em;
  }
  .disclaimer > label {
    font-size: 10px;
  }
  .disclaimer-cn > label,
  .disclaimer-ja > label {
    font-size: 11.5px;
  }
  .disclaimer-kr > label {
    font-size: 11px;
  }
}

@media screen and (max-width: 650px) {
  .presale-form input[type="text"],
  .presale-form input[type="number"],
  .presale-form input[readonly] {
    font-size: 10px;
    padding-right: 5px;
  }
  .presale-form label {
    font-size: 10px;
  }
  .presale-form textarea {
    font-size: 12px;
  }
  .presale-form-cn input[type="text"],
  .presale-form-cn input[type="number"],
  .presale-form-cn input[readonly],
  .presale-form-cn label,
  .presale-form-cn textarea {
    font-size: 14px;
  }
  .presale-form-ja input[type="text"],
  .presale-form-ja input[type="number"],
  .presale-form-ja input[readonly],
  .presale-form-ja label,
  .presale-form-ja textarea {
    font-size: 13px;
  }
  .radio-group {
    padding-left: 2px;
    padding-right: 10px;
  }
  .radio-group input[type="radio"] {
    font-size: 10px;
    vertical-align: middle;
  }
  .error-message {
    font-size: 10px;
  }
  .error-message-cn,
  .error-message-ja {
    font-size: 14px;
  }
  .disclaimer-kr label {
    font-size: 10.5px;
  }
  .disclaimer-cn label,
  .disclaimer-ja label {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  .disclaimer {
    line-height: 1.3em;
  }
  .disclaimer label {
    font-size: 8px;
  }
  .disclaimer-cn label,
  .disclaimer-ja label {
    font-size: 11px;
  }
  .disclaimer-kr label {
    font-size: 10px;
  }
  .presale-form select {
    padding: 12px 30px;
    padding-left: 10px;
  }
  :global #mc-embedded-presale-field i.fa {
    padding-left: 0px;
  }
}

@media screen and (max-width: 500px) {
  .presale-form-ja input[type="text"],
  .presale-form-ja input[type="number"],
  .presale-form-ja input[readonly],
  .presale-form-ja label,
  .presale-form-ja textarea {
    font-size: 10px;
  }
  .error-message-ja {
    font-size: 10px;
  }
  .disclaimer {
    line-height: 1.2em;
  }
  .disclaimer label {
    font-size: 9px;
  }
  .disclaimer-cn label {
    font-size: 10px;
  }
}

@media screen and (max-width: 444px) {
  .presale-form-ja input[type="text"],
  .presale-form-ja input[type="number"],
  .presale-form-ja input[readonly],
  .presale-form-ja label,
  .presale-form-ja textarea {
    font-size: 8px;
  }
  .disclaimer {
    line-height: 1em;
  }
  .disclaimer label {
    font-size: 8px;
  }
  .disclaimer-cn {
    line-height: 1.1em;
  }
  .disclaimer-cn label {
    font-size: 10px;
  }
  .disclaimer-ja label,
  .disclaimer-kr label {
    font-size: 9px;
  }
}

@media screen and (max-width: 380px) {
  .presale-form input[type="text"],
  .presale-form input[type="number"],
  .presale-form input[readonly] {
    font-size: 8px;
    padding-right: 5px;
  }
  .radio-group label {
    font-size: 8px;
  }
  .presale-form textarea {
    font-size: 10px;
  }
  .presale-form-kr input[type="text"],
  .presale-form-kr input[type="number"],
  .presale-form-kr input[readonly],
  .presale-form-kr label {
    font-size: 9px;
  }
  .presale-form-kr textarea,
  .error-message-kr {
    font-size: 10px;
  }
  .disclaimer-kr label {
    font-size: 8px;
  }
  .presale-form-cn input[type="text"],
  .presale-form-cn input[type="number"],
  .presale-form-cn input[readonly],
  .presale-form-cn label {
    font-size: 11px;
  }
  .presale-form-cn textarea {
    font-size: 12px;
  }
  .error-message-cn {
    font-size: 12px;
  }
  .disclaimer-cn label {
    font-size: 10px;
  }
}
