.investor {
  height: auto;
  display: flex;
  align-items: center;
}

.img {
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all ease-in-out 0.2s;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  opacity: 0.8;
  max-height: 150px;
  max-width: 100%;
}

.img:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  opacity: 1;
}

.dhvc {
  padding-bottom: 10px;
}

.img-lg {
  max-height: 200px;
}

.img-sm {
  padding-top: 5px;
  max-height: 115px;
}

@media screen and (max-width: 991px) {
  .dhvc {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .investor {
    margin: 0 auto;
    display: table;
  }
  .img-less-space {
    margin-bottom: 20px;
  }
  .dhvc {
    padding-bottom: 0px;
  }
  .img-lg {
    max-height: none;
    height: auto;
  }
  .img, .img-sm, .img-lg {
    max-width: 200px;
  }
}
