@import "../../styles/App.css";

.apply-box {
  margin: 50px 0 0;
  padding: 26px 40px;
  border-radius: 16px;
  box-shadow: 0 0 0 2px #2a4d8c inset;
}

.apply-box figure {
  margin: 0 18px 0 0;
  float: left;
}

.apply-box .style1 {
  float: left;
  margin: 12px 0 12px 0;
  display: block;
}

.view-btn {
  composes: transparent-btn from "../../styles/App.css";
  padding-left: 20px !important;
}

.view-btn>a {
  min-width: 175px;
}

.pull-right {
  padding-left: 20px;
}

.modal-text-title {
  margin: -5px 5% 15px;
}

.modal-text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
}

.modal-text-content div {
  margin: 10px 0;
}

.modal-text-content li {
  display: list-item;
  float: none;
}

.modal-text-content h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.modal-content-qualify span {
  border-bottom: 1px solid #000;
}

/* default size for text in job posting */

.job-box {
  font-size: 18px;
}

@media screen and (max-width: 991px) {
  .pull-right {
    padding-left: 15px;
  }
  .job-box {
    padding: 1.5em 11em;
    font-size: 16px;
    text-align: center;
  }
  .view-btn a {
    min-width: 210px;
  }
  .view-btn {
    margin: 10px 0 0;
    padding-left: 0px !important;
  }
  .apply-box figure, .apply-box .style1, .view-btn {
    display: inline-block;
    vertical-align: top;
    float: none !important;
  }
}

@media screen and (max-width: 767px) {
  .job-box {
    text-align: center;
    padding: 1.5em 9em;
  }
  .view-btn a {
    min-width: 220px;
  }
}

@media screen and (max-width: 700px) {
  .job-box {
    padding: 1.5em 8em;
  }
  .apply-box .style1 {
    min-width: 140px;
  }
}

@media screen and (max-width: 600px) {
  .job-box {
    font-size: 14px;
  }
  .view-btn a {
    font-size: 12px;
    min-width: 140px;
  }
}

@media screen and (max-width: 540px) {
  .job-box {
    padding: 1.5em 6em;
  }
}

@media screen and (max-width: 500px) {
  .apply-box figure {
    margin: 0 0px 0 0;
  }
  .job-box {
    padding: 1.5em 5em;
  }
}

@media screen and (max-width: 400px) {
  .job-box {
    padding: 1.5em 1.5em;
  }
}
