.align-right {
  float: right;
}

.footer-box {
  padding: 50px 0 40px;
}

.footer-box div {
  letter-spacing: 0;
}

.footer-box b {
  color: #888a8a
}

.footer-box col-md-3 {
  margin-right: 0px;
  padding-right: 0px;
}

.footer-box ul {
  margin: 0px 0 0;
  padding: 0;
  display: inline-block;
  list-style: none;
}

.footer-box ul li {
  float: left;
  font-size: 14px;
  line-height: 24px;
  padding: 0 40px;
}

.footer-box ul li:last-child {
  border-right: none;
}

.footer-box ul li a {
  color: #3b3b3b;
}

.footer-box ul li a:hover {
  color: #0059c2;
}

.footer-box span {
  margin: 10px 0 0;
}

.footer-box span img {
  margin-right: 10px;
  vertical-align: middle;
}

.footer-box span a {
  color: #3b3b3b;
}

.footer-box span a:hover {
  color: #0059c2;
}

.footer-box p {
  line-height: 20px;
}

.footer-logo {
  padding-top: 25px;
}

.copyright {
  font-size: 12px;
  padding-top: 15px;
  text-align: left;
}

.footer-links {
  text-align: left;
}

.footer-links a {
  line-height: 35px;
}

.footer-box .clickable {
  z-index: 1000;
}

.footer-links .link-head {
  line-height: 35px;
  padding-top: 5px;
}

.footer-links .link-head-cn {
  font-size: 18px;
}

.footer-links .link-head-ja {
  font-size: 17px;
}

.footer-links .link-head-kr {
  font-size: 17px;
}

.mail, .contact, .telegram, .twitter {
  margin-left: 20px;
  position: relative;
}

.mail::before{
  display: inline-block;
  content: '';
  background: url('../../images/svg/envelope.svg');
  background-size:cover;
  width:16px;
  height:16px;
  line-height: 14px;
  vertical-align: sub;
  margin-right: 5px;
  margin-left:-20px;
}

.contact::before {
  display: inline-block;
  content: '';
  background: url('../../images/svg/user-circle.svg');
  background-size:cover;
  width:16px;
  height:16px;
  line-height: 14px;
  vertical-align: sub;
  margin-right: 5px;
  margin-left:-20px;
}

.telegram::before {
  display: inline-block;
  content: '';
  background: url('../../images/svg/telegram-plane.svg');
  background-size:cover;
  width:16px;
  height:16px;
  line-height: 14px;
  vertical-align: sub;
  margin-right: 5px;
  margin-left:-20px;
}

.twitter::before {
  display: inline-block;
  content: '';
  background: url('../../images/svg/twitter.svg');
  background-size:cover;
  width:16px;
  height:16px;
  line-height: 14px;
  vertical-align: sub;
  margin-right: 5px;
  margin-left:-20px;
}

.legal-links {
  text-align: left;
  margin-top: -5px;
}

.legal-links a {
  font-size: 12px;
  color: #888a8a;
}

.legal-links a:hover {
  color: #0059c2;
}

@media screen and (max-width: 1199px) {
  .footer-box ul li {
    padding: 0 20px;
  }
}

@media screen and (max-width: 991px) {
  .legal-links, .copyright {
    text-align: center;
  }
  .footer-links .link-head {
    font-size: 16px;
  }
  .footer-links .link-head-cn {
    font-size: 17px;
  }
  .footer-links .link-head-ja {
    font-size: 17px;
  }
  .footer-box ul {
    width: 100%;
  }
  .footer-box ul li {
    width: 100%;
  }
  .footer-box {
    padding: 40px 2%;
  }
  .footer-box ul {
    border-bottom: 1px solid #d8dee4;
  }
  .footer-box ul li {
    padding: 0px;
  }
  .footer-box ul li:last-child {
    padding-bottom: 5px;
  }
  .footer-logo  {
    padding-top: 20px;
    float: none !important;
    display: inline-block;
    margin: 0 auto 10px;
  }
  .footer-box .border-none {
    border-bottom: none;
  }
  .footer-links {
    text-align: center;
  }
  .mail, .contact, .telegram, .twitter {
    margin-left: 10px;
  }
  .mail::before {
    left:80px;
  }
}
